.radio {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 10px 0;

  &__input {
    opacity: 0;
  }

  &__label {
    color: #424242;
    font-size: 18px;
  }

  &--small &__label {
    font-size: 16px;
  }

  &__input + &__label:before{
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 24px;
    margin-right: 7px;

    text-align: center;

    background: none;
    border: 1px solid #E6E9EF;
    border-radius: 50%;
    box-sizing: border-box;
  }

  &--small &__input + &__label:before{
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  &__input:checked + &__label:before {
    background: white;
    border: 8px solid #244D4D;
  }

  &--small &__input:checked + &__label:before {
    border-width: 7px;
  }

  &__input:focus + &__label {
    color: black;
  }
}