.page-chooser {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  margin: 1.5em 0 1.7em;

  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  padding: 0 calc(50% - 192px / 2);

  &__item {
    margin: 0 0.3em;

    color: #616161;
    line-height: 110%;
    font-size: 2em;
    text-decoration: none;

    &:hover {
      color: #9e9e9e;
    }
  }

  &__item_selected {
    margin: 0 0.3em;

    font-size: 2.5em;
    line-height: 100%;
    color: #eeeeee;
    text-decoration: none;

    &:hover {
      color: #eeeeee;
    }
  }  
}